
.container  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/2907172/pexels-photo-2907172.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    background-color: black;
  
    &__form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .67);
        &--title {
            display:  flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            font-size: 1.8rem;
            color: #fff;
            margin-bottom: 40px;
        }
        &--user,
        &--password {
            width: 258px;
            mat-form-field {
                width: 100%;
            }
        }

        &--submit {
            width: 258px;
            button {
                width: 100%;
            }
        }

        &--remember {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 10px;
        color: #fff;
        font-size: .8rem;
        }
      
    }

}

.error, .error-tip {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FFD900;
    font-weight: 700;
   
  
}
.error{
    margin-bottom: 10px;
}

.error-tip {
    margin-top: -10px;
}

//===================================================================
//                      Input angular material
//===================================================================

::ng-deep .mat-form-field {
    font-size: 1.2rem;
    .mat-input-element {
        color: #fff;
    }
    .mat-form-field-label {
        color: #fff;
    }
    .mat-form-field-underline {
        background-color: #fff;
    }
    .mat-form-field-ripple {
        background-color: #fff;
    }
    .mat-form-field-required-marker {
        color: #fff;
    }
}

::ng-deep .mat-form-field.mat-focused {
    .mat-form-field-label {
        color: #FFD900;
    }
    .mat-form-field-ripple {
        background-color: #FFD900;
    }
    .mat-form-field-required-marker {
        color: #FFD900;
    }
    .mat-input-element {
        color: #FFD900;
    }
}

::ng-deep .mat-form-field.mat-form-field-invalid {
    .mat-input-element {
        color: orangered;
    }
    .mat-form-field-label {
        color: orangered;
        .mat-form-field-required-marker {
            color: orangered;
        }
    }
    .mat-form-field-ripple {
        background-color: orangered;
    }
}

::ng-deep .mat-checkbox-frame { 
    border-color: #FFD900 !important; 
}